.custom__text__area{
	width: 100%;
	position: relative;
	margin: 10px;
}
.custom__text__area textarea{
	width: 100%;
	height: 177px;
	background-color: #fff;
	border: 0.3px solid #BEC5FF;
	border-radius: 5px;
	resize: none;
	outline: none;
	padding: 11px 15px;
	color: #707070;
	font-family: 'Poppins-Regular';
	font-size: 16px;
}

.custom__text__area textarea.error__input{
	border-color: #E1003E;
}

.custom__text__area .custom__text__area__error__container{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-top: 4px;
	padding-left: 15px;
}

.custom__text__area .custom__text__area__error__container img{
	width: 13px;
	height: 13px;
	object-fit: contain;
	margin-right: 4px;
}

.custom__text__area .custom__text__area__error__container p{
	font-size: 10px;
	color: #E1003E;
	font-family: 'Poppins-Medium';
}