.custom__input__container{
  position: relative;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.custom__input__container input{
	width: 100%;
	height: 46px;
	background-color: #fff;
	border: 0.3px solid #BEC5FF;
	border-radius: 5px;
	outline: none;
	padding: 11px 15px;
	color: #707070;
	font-family: 'Poppins-Regular';
	font-size: 16px;
}

.custom__input__container input.error__input{
	border-color: #E1003E;
}

.custom__input__container label{
	position: absolute;
	top:12px;
	left: 10px;
	color: #707070;
	background-color: #fff;
	font-size: 16px;
	padding: 0 5px;
	font-family: 'Poppins-Regular';
	transition: all 0.8s cubic-bezier(.29,1.42,.79,1) 0s,-webkit-transform .8s cubic-bezier(.29,1.42,.79,1) 0s;
	cursor: text;
}

.custom__input__container label.active{
    position: absolute;
    top:-10px;
    left: 10px;
    color: #6E0D88;
    background-color: #fff;
    font-size: 12px;
    padding: 0 5px;
    font-family: 'Poppins-Regular';
}

.custom__input__container .custom__input__error__container{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-top: 4px;
	padding-left: 15px;
}

.custom__input__container .custom__input__error__container img{
	width: 13px;
	height: 13px;
	object-fit: contain;
	margin-right: 4px;
}

.custom__input__container .custom__input__error__container p{
	font-size: 10px;
	color: #E1003E;
	font-family: 'Poppins-Medium';
}