@font-face {
  font-family: Poppins-Light;
  src: url('./assests/fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: Poppins-LightItalic;
  src: url('./assests/fonts/Poppins-LightItalic.ttf');
}
@font-face {
  font-family: Poppins-Regular;
  src: url('./assests/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-Medium;
  src: url('./assests/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url('./assests/fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: Poppins-Bold;
  src: url('./assests/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-ExtraBold;
  src: url('./assests/fonts/Poppins-ExtraBold.ttf');
}

.App {
  width: 100%;
}
